@import 'variables.scss';

.about {
  color: $primary-color;
  text-align: left;
  margin-top: $base-margin;
}

.about_content {
  margin-top: $base-margin;
  text-align: left;
  line-height: 20px;
}
